{% extends 'base.html' %}
{% block body %}
<h1 id = header_styles> Thank you, {{user_name}} </h1>
<div>
    <body id = header_styles>
    <h3>Wow, what a journey! I hope you found my application as a helpful starter tool, but don't stop here! 
    The possibilities available to you in the world of finance are endless. Continue to educate yourself and
    expand as much as possible. This is just the beginning. Below are some of my favorite books, podcasts, and
    resources. Please don't narrow your scope to my suggestions below. Take some time to do some research as well! 
    Happy exploring! 
    </h3>
    </body>
<div >
<div class="container"> 
    <img class = "item" id = books-img  src="/static/Images/book_2.jpg"> 
    <img class = "item" id = books-img src="/static/Images/book_1.jpg">
    <h1 id = header_styles class="item"> I hope you feel one (or several) steps closer to reaching your financial goals
    <br></br>
    Happy Learning!  
    <br></br>
    "Compound interest is the eighth wonder of the world. He who understands it, earns it … he who doesn’t … pays it." 
    - Albert Einstein
    </h1> 
</div>

<div id = paragraph_styles>
<h2>Books</h2>
<h4>Why does the Stock Market Go Up?</h4>
<ul> - All about the stock market. Super easy to digest (definitions on almost every page)</ul>
<h4>Girls That Invest</h4>
<ul> - All about women empowerment in the world of finance. Provides words of encouragement and 
    walks you through the whole investment process from persepective of women</ul>
<h4>How to Money</h4>
<ul> - The title says it all! Financial literacy from A-Z! A great starter book before diving 
    into some of the jargon-heavy investment books </ul>
</div>
<br><br/> 

<div id = paragraph_styles>
    <h2>Podcasts</h2>
    <h4>Girls That Invest </h4>
    <ul> - Millennial investors break down the world of investing</ul>
    <h4>The Investopedia Express with Caleb Silver</h4>
    <ul> -Condenses weekly information you may need to know for investing into a 30 minute podcast </ul>
</div>
<br><br/> 

<div id = paragraph_styles>
    <h2>Brokerage Websites</h2>
    <h4>Below is an example of brokerages people use to set up an account (there are many more, but I have linked the main ones).
    Feel free to dive into these platforms as they have lessons and guides to get a better understanding of the platform 
    and its investing capacity.Really spend some time here going through the free lessons available. 
    </h4>
    <h4> Fidelity Investments</h4>
    <ul> - https://www.fidelity.com </ul>
    <h4> Fidelity Investments Learning Center</h4>
    <ul> - https://www.fidelity.com/learning-center/ </ul>
    <h4> Informational Websites</h4>
    <ul> - https://www.fidelity.com </ul>
    <h2>Informational Websites</h2>
    <h4>If you found any of the topics covered interesting, Investopedia is for you!
    It has a ton of information ranging from a variety of topics so check it out! 
    There is even a stock market simulator you can mess with, without the risk. 
    It can't get any better than that!
    </h4>
    <h4> Investopedia</h4>
    <ul> - https://www.investopedia.com/ </ul>
    <h4> Investopedia Simulator</h4>
    <ul> - https://www.investopedia.com/simulator/</ul>
</div>
<br><br/>  
</div>
{% endblock %}


